@model MVC.Models.Post
@{
    ViewData["Title"] = "Details Page";
}

<div class="jumbotron">
  <h1 class="display-5">
    @Html.DisplayNameFor(model => model.title)
    :
    @Html.DisplayFor(model => model.title)
  </h1>
  <hr class="my-4">
  <p class="lead">
    @Html.DisplayNameFor(model => model.body)
    :
    @Html.DisplayFor(model => model.body)
  </p>  
</div>