@model IEnumerable<MVC.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="card">
        <div class="card-header">
            Featured Post
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.title)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="GetOne" asp-route-id="@item.title" >Details</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>
